<p>selfie-readonly works!</p>
<article class="row shadow pb-3 mb-2">
    <header class="col">
      <div class="row flexible">
        <div class="col">
      {{getSelfie.titre}}
        </div>
        <div class="col text-right">
            [...]
        </div>
      </div>
    </header>
    <div class="w-100"></div>
    <div class="col">
      <img   src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Chewbacca_%26_Jawa.jpg" alt="wookie image"  class="img-fluid">  
    </div>
    <div class="w-100"></div>
    <footer class="col">
        <div class="row">
          <i class="bi bi-heart-fill"></i>
          <i class="bi bi-heart-fill"></i>
          <i class="bi bi-heart-fill"></i>
        </div>
      </footer>
  </article>